logs/*
!.gitkeep
node_modules/
bower_components/
data
src/assets/data
nbproject/
coverage/
reports/
.tmp/
docker/dist/
.sonar/
*.log
platforms/
www/
plugins/
electron/
android/
out/
.angular/
.vscode/
dist/