html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
}


a {
    color: #3f51b5;
    text-decoration: none;
}

md-toolbar h1 {
    margin: auto;
    font-size: 1.250em;
    font-weight: normal;
}

md-list-item.objectimage {
    padding: 0px;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

md-list-item a:hover {
    background-color: black;
}

.card-image-trans.ng-show,
.card-image-trans {
  background: #fff;
  max-height: 2000px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
  transition-property: max-height;
}

.card-image-trans.ng-hide {
  max-height: 0;
}

.card-avatar {
    position: relative;
    width: 128px;
    height: 128px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
}

/* Primary content area */

.card-content {
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    margin-bottom: 40px;
}

/* Making the markdown tables behave nice */

div.card-content td p {
    margin: 0px;
}

/* override some flexslider styles to anable full screen width images when in small screen mode */

.flexslider .slides img {
    display: block;
    height: auto;
    width: 50%;
}
.card-image {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 8px;
}

@media(max-width: 600px) {
    .flexslider {
        border : 0px;
    }
    .flexslider .slides img {
        display: block;
        height: auto;
        width: 100%;
    }
    figure {
        margin: 0px;
    }
    .card-image {
        margin: 0px 0px 0px 0px;
        box-shadow: none;
    }
}
