html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    height:100%;
    margin: 0px;
    padding: 0px;
}

h3 {
    margin-bottom : 0px;
}
p {
    margin-top : 0px;
}

a {
    color: #3f51b5;
    text-decoration: none;
}

button.menu.md-button {
    line-height: 0px;
    min-width: 0px;
}
md-toolbar h1 {
    margin-left: 52px; 
    font-size: 1.250em;
    font-weight: normal;
}


md-list-item.objectimage {
    padding: 0px;
}


md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

md-list-item a:hover {
    background-color: black;
}

.md-whiteframe-glow-z2 {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 0 4px 3px rgba(0, 0, 0, 0.14), 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.card-image-trans {
    background: #fff;
    max-height: 4000px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    -webkit-transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 1s cubic-bezier(0.75, 0, 0.25, 1);
    transition-property: max-height;
}

.card-image-trans.ng-hide {
    max-height: 0;
}
.card-image-trans.ng-show {
    max-height: 0;
}

.card-avatar {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0px;
    vertical-align: middle;
    zoom:0.70;
    transform: translateZ(0);
    -webkit-transform: scale(0.70);
    -moz-transform:scale(0.70);
}

/* Primary content area */

.card-content {
    padding-left: 52px;
    padding-right: 40px;
    padding-top: 5px;
    margin-bottom: 40px;
}

/* Making the markdown tables behave nice */

div.card-content td p {
    margin: 0px;
}

/* override some flexslider styles to anable full screen width images when in small screen mode */

.flexslider .slides img {
    display: block;
    height: auto;
    width: 50%;
}
.card-image {
    margin-left: 52px;
    margin-right: 40px;
    margin-top: 8px;
}

md-card.card-grid-list {
    margin:0px;
    box-shadow: none;
}
.list-item-img {
    width: 52px;
}
.list-item-name {
    margin-top: auto;
    margin-bottom: auto;
}
md-content.big  {
    overflow-y: scroll;
}

 img.big {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    z-index : 99;
}

@media(max-width: 960px) {
    md-toolbar h1 {
        margin-left: 0px; 
    }

    .card-figure img {
        display: block;
        height: auto;
        width: 100%;
    }

    figure {
        margin: 0px;
    }

    .card-image {
        margin: 0px 0px 0px 0px;
        box-shadow: none;
    }
    
    a.md-button {
        border-radius: 1px;
    }
   
}
