html, body {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    /*background-color: green;*/
}

/* Making the markdown tables behave nice */
.collecting-markdown-content td p {
    margin: 0px;
}

/* Override some flexslider styles to anable full screen width images when in small screen mode */ 
.flexslider .slides img {
    display: block;
    height: auto;
    width: 50%;
}

/* Full screen (almost) images */
div.collecting-big  {
    overflow:hidden;    
    height: 88vh;

}
div.collecting-big img  {
    max-height:100%;
    display: block;
    margin: auto;
}

.collecting-card-image {
    margin-left: 52px;
    margin-right: 40px;
    margin-top: 8px;
}

