<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false">
                <ion-icon name="menu"></ion-icon>
            </ion-menu-button>
        </ion-buttons>
        <app-collection-header></app-collection-header>
        <ion-buttons slot="end">
            <ion-button (click)="searchToggle()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
<ion-content class="ion-padding">
    <ion-card *ngFor="let object of current.objects">
        <swiper-container pager loop autoplay="3000" navigation>
            <swiper-slide *ngFor="let image of object.images">
                <app-card-image [object]="object" [image]="image"></app-card-image>
            </swiper-slide>
        </swiper-container>
        <ion-card-content (swipeleft)="nextCard()" (swiperight)="prevCard()">
            <ion-card-title>{{object.name}}</ion-card-title>
            <p *ngIf="object.content" [innerHtml]="convert(object.content) | keepHtml"></p>
        </ion-card-content>
    </ion-card>

    <ion-card (swipeleft)="nextCard()" (swiperight)="prevCard()">
        <ion-card-content>
            <ion-card-title>{{current.name}}</ion-card-title>
            <p *ngIf="current.content" [innerHtml]="convert(current.content) | keepHtml"></p>
            <div *ngFor="let pdf of current.pdf">
                <app-pdf-link [pdf]="pdf"></app-pdf-link><br/>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>