<!DOCTYPE html>
<html ng-app="collectingApp" ng-controller="CardController as cl" lang="en"  >
    <head>
        <title ng-cloak>{{cl.collection.name}} - {{cl.selected.name}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="An application displaying the items in a collection">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />        

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel='stylesheet' href="./bower_components/angular-material/angular-material.min.css"/>
        <link rel="stylesheet" href="./bower_components/flexslider/flexslider.css">
        <link rel="stylesheet" href="./css/app.css"/>
        <link rel="stylesheet" href="./css/menu.css"/>
    </head>

    <body layout="row" class="ng-cloak">
        <!--
            sidenav the menu either opened or triggered from the toolbar
        -->
    <md-sidenav md-is-locked-open="$mdMedia('gt-md') && cl.selectedImage === null" md-component-id="left" class="md-whiteframe-z1">
        <md-toolbar class="ptj-menu-sidenav-toolbar">
            <div class="md-toolbar-tools">
                <img ng-src="./data/images/{{cl.collection.logo}}" alt="Site logo"/>
            </div>
        </md-toolbar>       
        <md-content flex role="navigation">
            <ul class="ptj-menu">
                <li ng-repeat="section in cl.menu.sections" class="parent-list-item" ng-class="{'ptj-menu-parentActive' : cl.isSectionSelected(section)}">
                    <h2 class="ptj-menu-heading md-subhead" ng-if="section.type === 'heading'" id="heading_{{ section.name | nospace }}">
                        {{section.name}}
                    </h2>
                <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                <ul ng-if="section.children" class="ptj-menu-nested-list">
                    <li ng-repeat="child in section.children" ng-class="{'childActive' : cl.isSectionSelected(child)}">
                    <menu-link section="child" ng-if="child.type === 'link'"></menu-link>
                    <menu-toggle section="child" ng-if="child.type === 'toggle'"></menu-toggle>
                    </li>
                </ul>
                </li>
            </ul>
        </md-content>
        <!--                <md-content layout-align="start end">
                            &copy; 2015 Tjon-A-Hen
                        </md-content>-->
    </md-sidenav>
    <div layout="column" flex>
        <!--
            main content
        -->
        <!--
            define the main content toolbar, the sidenav has its onw toolbar
        -->
        <md-toolbar class="md-whiteframe-z2" >
            <div class="md-toolbar-tools">
                <md-button class="menu" hide-gt-md ng-click="cl.onMenuClick()" aria-label="Show Card List">
                    <ng-md-icon icon="{{cl.determineMenuIcon()}}" style="fill:white" ></ng-md-icon>
                </md-button>
                <md-button hide-md hide-sm ng-if="cl.selectedImage !== null" class="menu" ng-click="cl.selectedImage = null;" aria-label="Exit full screen">
                    <ng-md-icon icon="close" style="fill:white" ></ng-md-icon>
                </md-button>
                <h1 hide-gt-md layout="row">
                    <div ng-repeat-start="crum in cl.breadcrum()" ng-repeat-end>
                        {{crum}}<md-icon ng-if="!$last" md-svg-src="./svg/chevron_right.svg" style="fill:white"></md-icon>
                    </div>
                </h1>
                <h1 hide-md hide-sm layout="row">
                    <div ng-repeat="crum in cl.breadcrum()">
                        {{crum}}<md-icon ng-if="!$last" md-svg-src="./svg/chevron_right.svg" style="fill:white"></md-icon>
                    </div>
                </h1>
            </div>
        </md-toolbar>

        <!--
            card content for devices with screen size other than small (sm) and medium (md)
        -->
        <md-content layout-margin layout-padding hide-md hide-sm flex ng-if="cl.selectedImage === null">
            <div ng-repeat="object in cl.selected.objects" class="collecting-card-image">
                <center>
                    <flex-slider slide="image in object.images track by $index">
                        <li>
                            <figure>
                                <img ng-click="cl.showImage(image)" 
                                     ng-src="./data/images/l/{{(image.name === undefined) ? image : image.name}}"
                                     alt="{{(image.name === undefined) ? image : image.name}}">
                                <figcaption>{{image.caption}}</figcaption>
                            </figure>
                        </li>
                    </flex-slider>            
                    <h4>{{object.name}}</h4>
                </center>
                <div ng-if="object.content" class="collecting-markdown-content" ivo-markdown="object.content"></div>
            </div>
            <div ng-if="cl.selected.content" class="collecting-markdown-content" ivo-markdown="cl.selected.content"></div>
            <div ng-if="cl.selected.htmlContent" class="collecting-markdown-content" ng-bind-html="cl.selected.htmlContent | safeHtml"></div>
        </md-content>

        <md-content hide-md hide-sm flex ng-if="cl.selectedImage !== null">
            <div class="collecting-big">
                <img ng-src="./data/images/{{(cl.selectedImage.name === undefined) ? cl.selectedImage : cl.selectedImage.name}}"
                     alt="{{(cl.selectedImage.name === undefined) ? cl.selectedImage : cl.selectedImage.name}}">
            </div>
        </md-content>
        <!--
            card content for devices with screen size small (sm) or medium (md)
        -->
        <!--
            either show a card with selected object images, or show the main content with possible object list.
        -->
        <md-content layout-margin layout-padding hide-lg hide-gt-lg flex ng-if="!cl.showObjectList()">
            <md-card class="card-grid-list">
                <md-grid-list md-cols-sm="1" md-cols="2" md-row-height="1:1">
                    <md-grid-tile ng-repeat="image in cl.selectedObject.images track by $index">
                        <img ng-src="./data/images/l/{{image.name === undefined ? image : image.name}}"
                             alt="{{image.name === undefined ? image : image.name}}">
                    </md-grid-tile>
                </md-grid-list>    
                <div class="collecting-markdown-content" ng-show="cl.selectedObject.content" ivo-markdown="cl.selectedObject.content"></div>
            </md-card>
        </md-content>

        <md-content layout-margin layout-padding hide-lg hide-gt-lg flex ng-if="cl.showObjectList()">
            <md-list>
                <md-list-item  class="md-1-line" ng-repeat="object in cl.selected.objects" ng-click="cl.selectObject(object)">
                    <img ng-src="./data/images/xs/{{object.images[0].name === undefined ? object.images[0] : object.images[0].name }}" 
                         class="md-avatar" 
                         alt="{{object.images[0].name === undefined ? object.images[0] : object.images[0].name }}"/>
                    <div class="md-list-item-text">
                        <p>{{object.name}}</p>
                    </div>
                    <md-divider></md-divider>
                </md-list-item>
            </md-list>
            <md-divider ng-if="cl.selected.objects"></md-divider>
            <div class="collecting-markdown-content" ng-show="cl.selected.content" ivo-markdown="cl.selected.content"></div>
        </md-content>
    </div>

    <!--
        Script loading and application initialization.
    -->
    <script src="./bower_components/showdown/dist/showdown.min.js"></script>
    <script src="./bower_components/showdown-table/dist/showdown-table.min.js"></script>
    <script src="./bower_components/showdown-target-blank/dist/showdown-target-blank.js"></script>

    <script src="./bower_components/highlightjs/highlight.pack.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/flexslider/jquery.flexslider-min.js"></script>

    <script src="./bower_components/angular/angular.js"></script>

    <script src="./bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="./bower_components/angular-flexslider/angular-flexslider.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./bower_components/angular-highlightjs/angular-highlightjs.min.js"></script>

    <script src="./bower_components/angular-ivonet-markdown/dist/angular-ivonet-markdown.min.js"></script>

    <script src="./js/cards/Cards.js"></script>
    <script src="./js/cards/CardController.js"></script>
    <script src="./js/cards/CardService.js"></script>
    <script src="./js/menu/menu.js"></script>
    <script src="./js/app.js"></script>


</body>
</html>
