<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-searchbar
            [(ngModel)]="myInput"
            (search)="search()">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-list>
        <ion-item *ngFor="let card of cardList" (click)="gotoCard(card)">
            <ion-avatar slot="start" *ngIf="card.objects">
                <app-card-image [card]="card"></app-card-image>
            </ion-avatar>
            <ion-label>{{card.name}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
